/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

header{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    height:300px;
    width:100%;
    margin-bottom:2vh;
}

.logo{
    margin-top:50px;
    margin-left:30px;
    margin-bottom:24px;
    height:50px;
}

.jumbo-about{
    margin:0 auto;
    height:30vh;
    width:97%;
}

header nav{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    width:70%;
    padding:15px;
}

header nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
    text-decoration:none;
    padding:1px 20px 10px 20px;
}

.container{
    width:800px;
    margin:0 auto;
}

.container-about-page{
    margin-top:100px;
    padding-left:50px;
    padding-right:50px;
    height:155vh;
    width:100%;
}

.about-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    border-bottom:1px dotted black;
    height:15vh;
    width:90%;
    margin-left:30px;
    margin-bottom:20px;
}

.about-text{
    padding-top:5px;
    padding-bottom:20px;
    margin-left:10px;
    margin-bottom:20px;
}

.flex_section{
    height:1000px;
    width:90%;
    margin-left:30px;
}

.top_half{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-bottom:10px;
    height:500px;
    width:100%;
}

.bottom_half{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-bottom:10px;
    height:500px;
    width:100%;
}

.images{
    padding:10px;
    height:250px;
    width:100%;
}

h2{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom:-5px;
    padding:10px;
    height:50px;
    width:300px;
}

.snippets{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    padding:10px;
    height:100px;
    width:100%;
}

.learn_more{
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    padding:10px;
    margin:10px;
    border-radius:10px;
    height:50px;
    width:150px;
}

.sections{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    border-bottom:1px dotted black;
    margin-right:20px;
    padding-bottom:10px;
    height:450px;
    width:50%;
}

#last_section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    height:15vh;
    width:95%;
    margin-left:30px;
    margin-bottom:20px;
}

footer {
    margin:0 auto;
    width: 97%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}